/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{
    margin: 15px;
}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
    font-size: 0;
    background: transparent;
    outline-style: none !important;
    border: none;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    filter: invert(51%) sepia(1%) saturate(6%) hue-rotate(328deg) brightness(101%) contrast(88%);
}

.slick-arrow:hover {
    filter: invert(0%) sepia(0%) saturate(20%) hue-rotate(330deg) brightness(97%) contrast(105%);
}


/* Стрелка влево */
.slick-arrow.slick-prev{
    background: url(./assets/icons/arrow.svg) no-repeat;
    width: 37px;
    height: 37px;
}
/* Стрелка вправо */
.slick-arrow.slick-next{
        background: url(./assets/icons/arrow.svg) no-repeat;
        width: 37px;
        height: 37px;
        margin-bottom: 20px;
        transform: rotate(181deg);
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}



