

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", "Verdana", sans-serif;
  --nav-text: black;
  --light: rgba(189, 189, 189, 0.57);
  --gradient: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  --light-grey: #f2f2f2;
  --white: #fff;
  --header-color: #333333;
  --text-color: #4F4F4F;
  --light-sections-background: #fbfbfb
  --feedback-background: #FEFEFE;
  --tultip-background: #FEFEFE;
}

.dark-mode {
  --light-grey: #4F4F4F ; 
  --text-color: #fff ; 
  --header-color: #FEFEFE; 
  --light-sections-background: #333333;
  --white: #333333;
  --nav-text: white;
  --feedback-background: #3b3b3b;
  --tultip-background: #333333;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
}

/* header styles */

.header {
  width: 100%;
  height: 94px;
  background-color: var(--white);
}

.light-theme {
  background-color: var(--light-sections-background);
}

.light-grey-theme {
  background-color: var(--light-grey);
}

.wrapper-large {
  position: relative;
  max-width: 1618px;
  margin: 0 auto;
  display: flex;
}

.wrapper-medium {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content-wrapper {
  position: relative;
  margin-top: 33px;
  width: 100%;
}

.logo svg path{
  margin-top: -3px;
  fill: var(--header-color);
}

.toggle-control {
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: rgb(169 175 181 / 75%);
}
.toggle-control input:checked ~ .control:after {
  left: 30px;
  background: #2d2b29;
}
.toggle-control .control {
  position: absolute;
  top: 0;
  right: 0;
  height: 33px;
  width: 60px;
  border-radius: 25px;
  background-color: #f2f2f2;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 22px;
  height: 22px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 0px rgb(34 60 80 / 20%);
  transition: left 0.15s ease-in;
}

.menu-burger {
  display: none;
}

.header-menu {
  width: 570px;
  margin: 0 auto;
  margin-top: -52px;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.header-menu li {
  display: inline;
  text-decoration: none;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: var(--nav-text);
}

.nav-link:hover {
  text-shadow: 0 0px var(--nav-text), 0px 0 var(--nav-text), 0px 0px var(--nav-text);
  border-bottom: var(--nav-text) solid 1px;
}

.nav-about {
  font-weight: bold;
  border-bottom: var(--nav-text) solid 1px;
  pointer-events: none;
}

/* watch-your-favorite-animal styles */

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.watch-your-favorite-animal {
  background: url(./assets/images/main-background.png) no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 940px;
}

.favorite-animal-header {
  width: 786px;
  margin-top: 133px;
  margin-left: 200px;
}

.favorite-animal-header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: #fefefe;
  margin-bottom: 38px;
}

.watch-online-button {
  position: relative;
  width: 245px;
  height: 55px;
  background-image: linear-gradient(
    106.89deg,
    #4bd8b5 -14.32%,
    #49d6df 100.68%
  );
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  z-index: 1; /* matters! */
  overflow: hidden;
}

.watch-online-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eaaaf3, #55a4b1);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}

.watch-online-button:hover::before {
  opacity: 1;
}

.watch-online-button span {
  position: absolute;
  top: 19px;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: super;
  margin-left: 6px;
}

.watch-online-button-img {
  position: absolute;
  top: 12px;
  left: 41px;
  margin-left: -2px;
}

.social-networks {
  position: absolute;
  bottom: -325px;
}

.icon {
  fill: #fefefe;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  display: block;
  transition: 0.3s;
}

.icon:hover {
  fill: #4bd8b5;
}

.slider-wrapper {
  position: relative;
  background: url(./assets/images/line.png) no-repeat 100% 38%;
  width: 1087px;
  float: right;
  height: 500px;
  margin-top: -101px;
  overflow: hidden;
}

.slider {
  display: flex;
  position: absolute;
  top: 62px;
  right: -610px;
    width: 1533px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  transition: all ease 0.4s;
}

.slider-item {
  cursor: pointer;
}

.none {
  display: none;
}

.small {
  margin-top: 27px;
  transition: 0.2s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.small img {
  width: 140px;
  height: 203px;
  border-radius: 5px;
}

.slider-item-descr1 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  margin-bottom: 4px;
  border-radius: 7px;
  opacity: 0;
  transition: all 0.6s;
}

.hello-small-animal {
  width: 131px;
  position: absolute;
  bottom: 20px;
  left: 9px;
  font-size: 9px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.small-btn svg {
  width: 42px;
}
.small-btn-watch svg {
  width: 65px;
}

.descr-text {
  padding-top: 255px;
  color: white;
}

.small:hover:not(.active-slide){
  transform: scale(1.5);
}

.small:hover .slider-item-descr1 {
  opacity: 1;
  bottom: -3px;
}

.active-slide {
  transform: scale(1.73);
  margin: auto 50px;
}


.active-slide .slider-item-descr1 {
  opacity: 1;
  bottom: -3px;
}

.slider-item.panda.chosen {
  height: 360px;
  position: relative;
}

.chosen img {
  width: 245px;
  height: 352px;
  border-radius: 5px;
}

.hello-animal {
  width: 196px;
  position: absolute;
  bottom: 36px;
  left: 8px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.hello-link:hover circle {
  stroke: #4bd8b5;
}
.hello-link:hover path {
  fill: #4bd8b5;
}

.donate-button {
  margin-left: 5px;
}

.rangecontainer {
  width: 100%;
  text-align: center;
}

.watch-your-favorite-range {
  position: absolute;
  bottom: 76px;
  left: -73px;
}

.range {
  -webkit-appearance: none;
  width: 245px;
  height: 5px;
  background: rgba(189, 189, 189, 0.57);
  outline: none;
  opacity: 0.9;
  transition: 0.3s;
}

.range:hover {
  opacity: 1;
  background: rgba(119, 116, 116, 0.57);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 10px;
  background: white;
  cursor: pointer;
}

.rangecontainer p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: 6px;
  color: #fefefe;
}

.total-number {
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
}

/* how it works section */

.how-it-works {
  width: 100%;
  height: 883px;
}

.wrapper-small {
  max-width: 790px;
  margin: 0 auto;
}

.how-it-works .section-header {
  text-align: left;
}

.section-header {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: var(--header-color);
  padding-top: 100px;
  margin-top: 0;
  text-align: center;
}

.how-it-works-text {
  margin-top: -9px;
  padding-bottom: 15px;
}

.simple-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
}

.how-it-works-slider {
  overflow: hidden;
}

.h-i-w-slider-line {
  display: flex;
  /* overflow: hidden; */
  transition: all ease 0.3s;
}

.how-it-works-slider-img {
  width: 100%;
  margin-bottom: 19px;
}

.rangecontainer .range-light {
  color: var(--header-color);
}

.range-four::-webkit-slider-thumb {
  width: 62px;
}

.range-black::-webkit-slider-thumb {
  background: var(--header-color);
}

.how-it-works-button {
  text-align: center;
  margin-top: 27px;
}

.columns {
  display: flex;
  justify-content: space-between;
  padding-bottom: 116px;
}

.what-inspires-us-items {
  text-align: center;
  width: 380px;
  padding-top: 100px;
}

.what-inspires-us-items h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-top: 11px;
  margin-bottom: 16px;
  color: var(--header-color)
}

.what-inspires-us-items p {
  text-align: left;
}

.pets-in-zoo-slider {
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 29px;
}

.pets-in-zoo h2 {
  margin-bottom: 36px;
  color: var(--header-color);
}

.p-i-z-slider-wrapper {
  max-width: 970px;
  overflow: hidden;
}

.p-i-z-slider-line {
  display: flex;
  justify-content: space-between;
  position: relative;
  transition: all ease 0.3s;
}

.pets-in-zoo-slider-item {
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
  margin: 0 1rem;
}

.pets-in-zoo-animal img{
  width: 210px;
    height: 100%;
  transition: all ease 0.2s;
}

.slider-item-descr {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  /* margin-bottom: 4px; */
  border-radius: 7px;
  background: linear-gradient(345deg, #000000 -56.45%, rgba(0, 0, 0, 0) 95.03%);
  opacity: 0;
  transition: all 0.6s;
}

.descr-text {
  padding-top: 255px;
  color: white;
}

.pets-in-zoo-slider-item:hover .slider-item-descr {
  opacity: 1;
  bottom: -3px;
}

.active-descr .slider-item-descr {
  opacity: 1;
  bottom: -3px;
}

.arrow {
  width: 19px;
  height: 30px;
  cursor: pointer;
  fill: #828282;
  transition: 0.3s;
}

.arrow:hover {
  fill: var(--header-color);
}

.right-arrow {
  transform: rotate(180deg);
}

.choose-your-favorite-button {
  text-align: center;
  margin-top: 27px;
  padding-bottom: 100px;
}

.watch-online-button .choose-your-favorite {
  top: 19px;
  left: 11px;
}

.pay-and-feed .section-header {
  padding-top: 100px;
  margin-bottom: 30px;
}

.pay-and-feed .simple-text {
  text-align: center;
}

.scheme-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 59px;
  margin-left: -2px;
}

.opportunity-wrap {
  height: 242px;
  width: 242px;
  background-image: linear-gradient(
    106.89deg,
    #4bd8b5 -14.32%,
    #49d6df 100.68%
  );
  border-radius: 50%;
  padding: 1rem;
  position: relative;
  padding: 3px;
}

.opportunity {
  height: 178px;
  width: 178px;
  border-radius: 50%;
  padding: 2rem;
}

.arrow-end {
  display: inline-block;
  border: solid #333;
  border-width: 0 5px 5px 0;
  padding: 9px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.arrow-line {
  display: block;
  width: 100%;
  max-width: 107px;
  margin: 20px;
  height: 2px;
  background: linear-gradient(#4bd8b5, #49d6df);
  position: relative;
}

.arrow-gradient {
  position: absolute;
  right: 0;
  bottom: -5px;
  padding: 5px;
  border-width: 0 3px 3px 0;
  border-image: linear-gradient(#4bd8b5, #49d6df) 1;
}

.next-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.opportunity img {
  position: relative;
  top: 30px;
  left: 57px;
}

.scheme-text {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-top: 52px;
  text-align: center;
  color: var(--text-color);
}

.pay-and-feed-button {
  text-align: center;
  margin-top: 27px;
  padding-bottom: 99px;
}

.pay-and-feed-button .pay-and-feed-donate {
  left: 80px;
}

.feedback-slider-wrapper {
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 47px;
  max-width: 1290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback {
  width: 585px;
  height: 310px;
  background: var(--feedback-background);
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
}

.feedback-content {
  margin: auto;
  margin-top: 44px;
  width: 440px;
  text-align: center;
}

.feedback-content .simple-text {
  text-align: left;
}

.person-name {
  font-family: "Roboto", sans-serif;
  margin: 13px auto 18px;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  color: var(--header-color)
}

.pay-and-feed-button .feedback-button {
  left: 43px;
}

.map .section-header {
  padding-top: 100px;
  margin-top: 0px;
  margin-bottom: 61px;
}

.map-area {
  width: 100%;
  position: relative;
}

.map-image {
  width: 100%;
  height: auto;
}

/* .eagle-svg:hover .stop1 {
  -webkit-animation: colors 12s infinite;
          animation: colors 12s infinite;
}

.eagle-svg:hover .stop2 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.panda-svg:hover .stop1 {
  -webkit-animation: colors 12s infinite;
          animation: colors 12s infinite;
}

.panda-svg:hover .stop2 {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

@-webkit-keyframes colors {
  15% {
    stop-color: crimson;
  }
  30% {
    stop-color: gold;
  }
  45% {
    stop-color: teal;
  }
  60% {
    stop-color: yellowgreen;
  }
  75% {
    stop-color: orangered;
  }
  90% {
    stop-color: purple;
  }
} */

.pin {
  position: relative;
  width: 67px;
  height: 97px;
  background: url(./assets/images/mark.svg) no-repeat;
  z-index: 1;
  overflow: hidden;
}

.pin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/hover-svg.svg) no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
.pin:hover::before {
  opacity: 1;
}

.animal-pin {
  width: 67px;
  height: 0px;
  cursor: pointer;
  position: absolute;
}

.animal-pin:hover .pin::before {
  opacity: 1;
}

.eagle-pin {
  top: 15%;
  left: 10%;
}

.eagle-pin:hover .eagle-popup {
  opacity: 1;
  z-index: 5;
  width: 436px;
  height: 149px;
}

.eagle-photo {
  background: url(./assets/images/eagle.png) 94px 266px;
  background-size: contain;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  position: relative;
  top: -86px;
  left: 12px;
  z-index: 5;
}

.alligator-pin {
  top: 22%;
  left: 20.5%;
}

.alligator-pin:hover .alligator-popup {
  opacity: 1;
  z-index: 5;
  width: 436px;
  height: 149px;
}

.alligator-photo {
  background: url(./assets/images/crocodile.png) 125px 294px;
  background-size: 42px;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  position: relative;
  top: -86px;
  left: 12px;
  z-index: 5;
}

.gorilla-pin {
  top: 38%;
  left: 48%;
}

.gorilla-pin:hover .gorilla-popup {
  opacity: 1;
  z-index: 5;
  width: 436px;
  height: 149px;
}

.gorilla-photo {
  background: url(./assets/images/gorilla.png) 127px 299px;
  background-size: 42px;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  position: relative;
  top: -86px;
  left: 12px;
  z-index: 3;
}

.panda-pin {
  top: 19%;
  left: 74%;
}

.panda-pin:hover .panda-popup {
  opacity: 1;
  z-index: 5;
  width: 436px;
  height: 149px;
}

.panda-photo {
  background: url(./assets/images/panda.png) 105px 251px;
  background-size: 35px;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  position: relative;
  top: -86px;
  left: 12px;
  z-index: 5;
}

.popup {
  position: relative;
  background: var(--tultip-background);
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  opacity: 0;
  width: 0;
  height: 0;
  z-index: -1;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.eagle-popup {
  top: -46px;
  left: -395px;
}

.alligator-popup {
  top: -50px;
  left: -399px;
}

.gorilla-popup {
  top: -50px;
  left: -399px;
}

.panda-popup {
  top: -50px;
  left: -399px;
}

.watch-online-button-wrapper {
  text-align: center;
  margin-top: 31px;
  padding-bottom: 100px;
}

.animal-photo {
  height: 65px;
  width: 65px;
}

.animal-description {
  max-width: 280px;
}

.eagle-prof {
  background: url(./assets/images/eagle-round.png);
}

.alligator-prof {
  background: url(./assets/images/crocodile.png) 231px;
  background-size: 57px;
  border-radius: 50%;
}

.gorilla-prof {
  background: url(./assets/images/gorilla.png) 231px;
  background-size: 57px;
  border-radius: 50%;
}

.panda-prof {
  background: url(./assets/images/panda.png) 231px;
  background-size: 57px;
  border-radius: 50%;
}

.animal-description p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  margin-top: 0;
}

/* styles for footer */

footer {
  background-color: #333333;
  height: 750px;
}

footer .wrapper-large {
  display: block;
}

.footer-logo {
  max-width: 680px;
  flex-grow: 1;
}

.footer-menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: right;
  margin-top: 100px;
}

.footer-menu {
  width: 380px;
}

.footer-menu ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 0;
}

.footer-menu li {
  list-style: none;
}

.footer-menu a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fefefe;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-heading {
  width: 100%;
  height: 200px;
}

.footer-button .watch-online-button {
  width: 275px;
}

.footer-button .volunteers-button {
  left: 22px;
  font-weight: 500;
  font-size: 18px;
}

.contact-us {
  width: 823px;
  margin-top: -7px;
}

.contact-us h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #fefefe;
  margin-bottom: 10px;
}

.name,
.email {
  width: 380px;
  border: none;
  outline: none;
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #e0e0e0;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 20px;
  padding-bottom: 9px;
}

fieldset {
  width: 356px;
  border-radius: 3px;
  margin-top: 22px;
}

legend {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #bdbdbd;
  margin-left: -7px;
  padding-left: 3px;
  padding-right: 4px;
}

textarea {
  height: 84px;
  width: 352px;
  border: none;
  background: none;
  outline: none;
  color: white;
  resize: none;
}

#checkbox {
  visibility: hidden;
}

.contact-us-checkbox {
  margin-top: 20px;
}

.contact-us-checkbox label {
  position: relative;
  padding-left: 8px;
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #bdbdbd;
  line-height: 17px;
}

.contact-us-checkbox label:before,
.contact-us-checkbox label:after {
  content: "";
  position: absolute;
}

.contact-us-checkbox label:before {
  width: 13px;
  height: 13px;
  border: 1px solid #555;
  top: 0;
  left: -14px;
}

.contact-us-checkbox label:after {
  width: 0px;
  height: 0px;
  transition: width 0.2s;
  top: 2px;
  left: -11px;
  transform: rotate(-45deg);
}

input:checked + label:after {
  border: 1px solid #fefefe;
  border-width: 0 0 2px 2px;
  height: 5px;
  width: 7px;
}

.contact-us-send {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 374px;
  margin-right: -1px;
}

button[type="submit"] {
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
  cursor: pointer;
  outline: none;
}

.submit-arrow {
  background: url(./assets/images/submit-arrow.svg) no-repeat;
  height: 10px;
  width: 50px;
  cursor: pointer;
  margin-left: 22px;
}

.footer-info {
  display: flex;
}

.contact-inf {
  color: #fefefe;
  font-family: "Roboto", sans-serif;
}

.online-centre {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 37px;
}

address {
  font-style: normal;
}

address a {
  text-decoration: none;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
}

.address div {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 26px;
}

.social-networks-footer .icon {
  display: inline;
  margin-right: 11px;
  margin-top: -6px;
}

.footer-button.mobile {
  display: none;
}

.copyright {
  border-top: 0.5px solid #fefefe;
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-top: 53px;
}

.copyright p {
  margin-top: 30px;
  margin-bottom: -26px;
}

/* dark-mode styles start */
.header-dark-mode {
  background-color: #333333;
  color: #fff;
}
/* dark-mode styles end */

@media all and (max-width: 1600px) {
  .wrapper-large {
    max-width: 1300px;
  }

  .favorite-animal-header {
    margin-left: 0;
  }

  .eagle-popup {
    top: -49px;
    left: 27px;
  }

  .footer-button {
    margin-left: 50px;
  }
}

@media all and (max-width: 1400px) {
  .wrapper-large {
    max-width: 1010px;
  }

  .favorite-animal-header {
    margin-top: 53px;
  }

  .slider {
    right: -833px;
    top: 144px;
  }

  .small {
    margin-top: -3px;
  }

  /* .slider-item.small img {
    width: 180px;
    height: 260px;
  } */

  /* .small:hover {
    transform: none;
  } */

  .slider-wrapper {
    position: relative;
    background: url(./assets/images/line.svg) no-repeat;
    width: 822px;
    background-position-y: center;
    float: right;
    height: 500px;
    margin-top: -58px;
    overflow: hidden;
  }

  .watch-your-favorite-range {
    bottom: 9px;
    left: 17px;
  }
}

@media all and (max-width: 1200px) {
  .wrapper-large {
    max-width: 900px;
  }

  .wrapper-medium {
    max-width: 900px;
  }

  .watch-your-favorite-animal {
    height: 926px;
  }

  .social-networks {
    bottom: -429px;
  }

  .slider {
    right: -855px;
    top: 144px;
  }

  /* .slider-item.small img {
    width: 180px;
    height: 260px;
  } */

  /* .small:hover {
    transform: none;
  } */

  .slider-wrapper {
    position: relative;
    background: url(./assets/images/line.svg) no-repeat;
    width: 720px;
    background-position-y: center;
    height: 500px;
    margin-top: -58px;
  }

  .watch-your-favorite-range {
    bottom: 9px;
    left: 16px;
  }

  .wrapper-small {
    max-width: 739px;
    margin: 0px auto;
  }

  .how-it-works-slider-img {
    width: 100%;
    height: 323px;
    /* margin-top: -17px; */
    margin-bottom: 19px;
    border-radius: 5px;
  }

  .how-it-works-button {
    margin-top: 29px;
    margin-left: 7px;
  }

  .what-inspires-us-items {
    width: 286px;
    margin-right: 5px;
  }

  .columns {
    margin-left: 0px;
    /* margin-right: 18px; */
    padding-bottom: 102px;
  }

  .pets-in-zoo-slider {
    max-width: 975px;
    margin-top: -6px;
    margin-bottom: 25px;
  }

  .pets-in-zoo-slider .arrow {
    margin: 10px auto auto 0px;
  }

  .pets-in-zoo .hello-animal {
    left: 7px;
  }

  .pets-in-zoo-animal img {
    width: 210px;
  }

  .scheme-wrapper {
    max-width: 904px;
    margin-top: 48px;
  }

  .scheme-text {
    width: 131px;
    margin-left: 23px;
  }

  .pay-and-feed .pay-and-feed-button {
    margin-top: -10px;
  }

  .feedback {
    max-width: 440px;
    height: 310px;
  }

  .feedback-slider-wrapper {
    margin-top: 64px;
    margin-bottom: 47px;
    max-width: 988px;
  }

  .feedback-content {
    max-width: 322px;
  }

  .map-image {
    width: 100%;
    height: 436px;
    transform: scaleY(1.15);
  }

  .eagle-pin {
    top: 12%;
    left: 9%;
  }

  .alligator-pin {
    top: 15%;
    left: 19.5%;
  }

  .gorilla-pin {
    top: 35%;
    left: 46.7%;
  }

  .panda-pin {
    top: 16%;
    left: 73%;
  }

  .alligator-popup {
    top: -50px;
    left: 27px;
  }

  .footer-menu {
    max-width: 561px;
    margin-right: 61px;
  }

  .contact-us {
    max-width: 459px;
    margin-top: -7px;
    margin-bottom: 10px;
  }

  .contact-us-send {
    margin-right: 1px;
    margin-top: -2px;
  }

  .contact-inf {
    margin-top: -15px;
  }

  .footer-button {
    margin-left: 50px;
    position: absolute;
    top: 423px;
    left: 409px;
  }
}

@media all and (max-width: 950px) {
  .wrapper-large {
    max-width: 800px;
  }

  .wrapper-medium {
    max-width: 800px;
  }

  .feedback-slider-wrapper {
    max-width: 536px;
  }

  .feedback1 {
    display: none;
  }
}

@media all and (max-width: 860px) {
  .header-menu ul {
    justify-content: space-around;
  }

 .wrapper-large {
    max-width: 750px;
  }

  .watch-your-favorite-animal .wrapper-large {
    padding: 0 1rem;
  }

  .wrapper-medium {
    max-width: 750px;
  }

  .what-inspires-us .wrapper-medium {
    padding: 0 1rem;
  }

  .favorite-animal-header h2 {
    font-size: 64px;
    max-width: 590px;
  }

  .slider-wrapper {
    width: 620px;
  }

  .slider {
    right: -816px;
    width: 1400px;
  }

  .hello-small-animal {
    width: 135px;
    left: 7px;
  }

  .small:hover:not(.active-slide) {
    transform: scale(1.2);
}

  .scheme-wrapper {
    flex-direction: column;
  }

  .arrow-line {
    transform: rotate(90deg);
  }

  .arrow-line {
    max-width: 35px;
    margin: 47px;
  }

  .pets-in-zoo {
    overflow: hidden;
  }

  .pets-in-zoo-slider {
    width: 885px;
  }

  .pets-in-zoo-slider .arrow {
    display: none;
  }

  .map-image {
    margin-top: -40px;
  }

  .eagle-pin {
    top: 10%;
    left: 9%;
  }

  .alligator-pin {
    top: 13%;
    left: 19%;
  }

  .gorilla-pin {
    top: 27%;
    left: 46.1%;
  }

  .panda-pin {
    top: 10%;
    left: 72%;
  }
}

@media all and (max-width: 860px) {
  .footer-menu ul {
    display: block;
  }

  .footer-menu li {
    margin-top: 4px;
  }

  footer {
    height: 1068px;
  }

  .footer-menu-wrapper {
    display: grid;
    grid-template-columns: 3fr;
    /* grid-template-rows: 30px 20px; */
    grid-template-areas:
      "logo button"
      "menu .     ";
  }

  .footer-logo {
    grid-area: logo;
  }

  .footer-menu {
    grid-area: menu;
    max-width: 200px;
    margin-right: 0;
  }

  .footer-info {
    flex-direction: column;
    margin-top: 69px;
  }

  .contact-us h3 {
    margin-bottom: 15px;
  }

  .contact-inf {
    margin-top: 50px;
    margin-bottom: 13px;
    width: 195px;
  }

  .footer-button {
    position: static;
    margin-left: 0;
    grid-area: button;
  }
}

@media all and (max-width: 770px) {
  .wrapper-large {
    max-width: 670px;
  }

  .wrapper-medium {
    max-width: 670px;
  }

  .wrapper-small {
    max-width: 690px;
    padding: 0 1rem;;
  }

  .slider {
    right: -850px;
  }

  .active-slide {
    transform: scale(1.6);
}

.watch-your-favorite-range {
  left: 31px;
}

  .slider-wrapper {
    width: 588px;
  }

  .alligator-pin {
    top: 13%;
    left: 18.1%;
  }

  .footer-button {
    left: 334px;
  }
}

@media all and (max-width: 740px) {
  .wrapper-large {
    max-width: 680px;
  }

  .wrapper-medium {
    max-width: 680px;
  }

  .menu-burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 40px;
    height: 21px;
    cursor: pointer;
    order: 5;
    margin-top: 4px;
  }

  .menu-burger.menu-active span {
    transform: scale(0) translate(0px, -50%);
  }

  .menu-burger.menu-active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }

  .menu-burger.menu-active::after {
    bottom: 45%;
    transform: rotate(45deg) translate(0px, 50%);
    width: 100%;
  }

  .menu-burger span,
  .menu-burger::before,
  .menu-burger::after {
    right: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background: var(--text-color);;
  }

  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }

  .menu-burger::before {
    top: 0;
  }

  .menu-burger::after {
    bottom: 0;
    width: 33px;
  }

  .menu-burger span {
    top: 46%;
    transform: scale(1) translate(0px, -50%);
  }

  .header .wrapper-large {
    max-width: 740px;
  }

  .header-menu {
    position: absolute;
    top: auto;
    left: -100%;
    right: auto;
    width: 100%;
    height: 230px;
    background-color: var(--white);
    padding-top: 100px;
    transition: left 0.3s ease;
    z-index: 1;
  }

  .header-menu.menu-active {
    left: 0;
    -webkit-box-shadow: -9px 11px 20px 0px rgba(34, 60, 80, 0.38);
    -moz-box-shadow: -9px 11px 20px 0px rgba(34, 60, 80, 0.38);
    box-shadow: -9px 11px 20px 0px rgba(34, 60, 80, 0.38);
  }

  .header-menu ul {
    flex-direction: column;
    width: 95%;
    margin-left: 15px;
  }

  .header-menu li {
    margin-top: 15px;
    border-bottom: 1px solid var(--text-color);
    z-index: 5;
  }

  .header-content-wrapper {
    display: flex;
    padding-left: 19px;
    padding-right: 19px;
  }

  .logo {
    order: 1;
    flex-grow: 4;
    z-index: 5;
  }

  .theme-switcher {
    order: 2;
    flex-grow: 1;
    z-index: 5;
    margin-right: -9px;
  }

  .toggle-control .control {
    top: unset;
    right: unset;
    z-index: 1;
  }

  .what-inspires-us-items {
    width: 200px;
}

  .footer-wrapper {
    padding: 0 1rem;
  }
}

@media all and (max-width: 640px) {
  .wrapper-large {
    max-width: 600px;
  }

  .wrapper-medium {
    max-width: 600px;
  }

  .wrapper-small {
    max-width: 600px;
  }

  .header {
    position: fixed;
    background-color: var(--white);
    z-index: 10;
  }

  .watch-your-favorite-animal {
    height: 1027px;
  }

  .favorite-animal-header {
    margin-top: 143px;
  }

  .favorite-animal-header h2 {
    line-height: 75px;
    margin-top: 68px;
    margin-bottom: 31px;
  }

  .social-networks {
    bottom: -478px;
  }

  .slider-wrapper {
    margin-top: -11px;
  }

  .how-it-works-slider-img {
    margin-top: 0px;
  }

  .how-it-works-button {
    margin-left: 1px;
  }

  .columns {
    flex-direction: column;
    align-items: center;
  }

  .what-inspires-us {
    height: 875px;
  }

  .what-inspires-us-items {
    margin-bottom: -64px;
  }

  .pets-in-zoo-slider {
    width: 938px;
  }

  .pets-in-zoo {
    max-width: 619px;
    margin-top: 0px;
  }

  .pets-in-zoo h2 {
    margin-left: 20px;
    margin-bottom: 43px;
  }

  .pets-in-zoo-range {
    margin-left: 15px;
  }

  .choose-your-favorite-button {
    margin-top: 36px;
    margin-left: 16px;
  }

  .pay-and-feed .simple-text {
    max-width: 541px;
    /* margin-left: 28px; */
    margin-top: -12px;
  }

  .feedback-slider-wrapper {
    max-width: 600px;
    margin-top: 47px;
  }

  .scheme-text {
    margin-top: 45px;
  }

  .feedback-slider-item .arrow {
    display: none;
  }

  .feedback {
    max-width: 583px;
  }

  .feedback-content {
    max-width: 441px;
  }

  .map {
    min-height: 668px;
  }

  .map-area {
    margin-top: -42px;
    margin-bottom: -73px;
  }

  .alligator-pin {
    top: 14%;
    left: 17.5%;
  }

  .gorilla-pin {
    left: 45.1%;
  }

  .watch-online-button-wrapper {
    padding-bottom: 80px;
  }

  .footer-button {
    margin-top: -4px;
  }
}

@media all and (max-width: 610px) {
  .wrapper-large {
    max-width: 550px;
  }

  .wrapper-medium {
    max-width: 550px;
  }

  .wrapper-small {
    max-width: 550px;
  }

  .favorite-animal-header,
  .social-networks {
    margin-left: 10px;
  }

  .slider-item.small img {
    width: 113px;
    height: 164px;
  }

  .slider-wrapper {
    height: 475px;
    width: 405px;
  }

  .chosen img {
    width: 140px;
    height: 202px;
  }

  .slider-item.panda.chosen {
    height: auto;
  }

  .slider {
    right: -660px;
    top: 145px;
    width: 1035px;
}

  .hello-small-animal {
    width: 105px;
    left: 6px;
  }

  .hello-animal {
    width: 120px;
    bottom: 9px;
    left: 16px;
    font-size: 12px;
  }

  .watch-your-favorite-range {
      bottom: 63px;
      left: 49px;
  }

  .watch-your-favorite-range p {
    margin-bottom: -7px;
  }

  .watch-your-favorite-range .range {
    width: 140px;
  }

  .watch-your-favorite-range .range::-webkit-slider-thumb {
    width: 20px;
    height: 10px;
  }

  .popup {
    max-width: 360px;
  }

  .gorilla-popup {
    left: -143px;
}

.panda-popup {
  left: -301px;
}

  .donate-button {
    margin-left: 0px;
  }

  .how-it-works {
    width: 100%;
    height: 830px;
}

  .name,
  .email {
    width: 99%;
  }

  fieldset {
    width: 94%;
  }

  textarea {
    width: 100%;
  }

  .contact-us-send {
    width: 100%;
  }

  .footer-info {
    width: 100%;
  }

  .contact-us {
    max-width: 100%;
  }
}
@media all and (max-width: 550px) {
  .theme-switcher {
    order: 2;
    flex-grow: 1;
    z-index: 5;
    margin-right: 30px;
  }

  .footer-button.mobile {
    display: block;
  }

  .footer-menu-wrapper .footer-button {
    display: none;
  }

  footer {
    height: 1103px;
  }
}

@media all and (max-width: 500px) {

  .favorite-animal-header h2 {
    font-size: 58px;
  }

  .feedback {
    max-width: 300px;
    height: 363px;
  }

  .eagle-pin {
    top: 12%;
    left: 7%;
  }

  .panda-pin {
    top: 13%;
    left: 70%;
  }

  .alligator-pin {
    top: 16%;
    left: 15.5%;
    z-index: 6;
  }

  footer {
    height: 1103px;
  }

  /* .contact-us {
    max-width: 300px;
  } */

  .feedback-content {
    max-width: 272px;
  }
}

@media all and (max-width: 420px) {
  .watch-your-favorite-animal {
    height: 880px;
  }

  .favorite-animal-header h2 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 42px;
    margin-bottom: 15px;
  }

  .watch-your-favorite-animal .social-networks {
    display: none;
  }

  .slider-wrapper {
    height: 300px;
    width: 388px;
  }

  .slider {
    right: -291px;
    top: 48px;
  }

  .watch-your-favorite-range {
    bottom: -1px;
    left: 42px;
  }

  .watch-your-favorite-animal {
    height: 761px;
  }

  h2:not(.favorite-animal-header h2) {
    font-size: 36px;
    line-height: 42px;
    /* margin-top: 50px; */
  }

  .how-it-works-wrapper {
    margin: 0 auto;
    padding: 0.1rem 2rem 3rem;
  }

  .how-it-works {
    height: auto;
  }

  .contact-us {
    max-width: 100%;
  }
}

@media all and (max-width: 420px) {
  .how-it-works-wrapper {
    padding: 0rem 0.5rem 0rem;
  }

  .slider-wrapper {
    height: 297px;
    width: 320px;
    top: 26px;
  }

  .slider {
    right: -734px;
    top: 50px;
  }

  .active-slide {
    transform: scale(1.4);
    margin: auto 25px;
}

  .watch-your-favorite-range {
    bottom: -1px;
    left: 58px;
  }

  .how-it-works-button {
    margin: 8px auto 50px 11px;
  }

  .how-it-works-slider .rangecontainer {
    margin: -9px auto 17px 4px;
  }

  .how-it-works-slider .range::-webkit-slider-thumb {
    width: 75px;
    height: 10px;
  }

  .what-inspires-us {
    height: 800px;
  }

  .what-inspires-us-items {
    padding-top: 50px;
    margin-bottom: -34px;
  }

  .what-inspires-us-items p {
    margin-left: -4px;
    margin-right: -4px;
  }

  .map {
    min-height: 550px;
}

  .animal-pin {
    transform: scale(0.7);
  }

  .eagle-pin {
    top: 21%;
    left: 6%;
}

.alligator-pin {
  top: 24%;
  left: 15.5%;
}

.gorilla-pin {
  left: 42.1%;
  top: 32%;
}

.panda-pin {
  top: 22%;
  left: 68%;
}

.animal-description {
  pointer-events: none;
}

.map .section-header {
   margin-bottom: 0; 
}

.watch-online-button-wrapper {
  margin-top: 0px;
}
}

@media all and (max-width: 320px) {
  .header-menu ul {
    width: 90%;
  }

  .logo {
    margin-top: -5px;
  }

  .theme-switcher {
    order: 2;
    flex-grow: 1;
    z-index: 5;
    margin-right: 52px;
    margin-top: -4px;
  }

  .header-content-wrapper {
    display: flex;
    padding-left: 11px;
    padding-right: 11px;
  }

  .hello-animal {
    bottom: 8px;
    left: 7px;
  }

  .pets-in-zoo h2 {
    margin: 99px 0px 36px 10px !important;
  }

  .pets-in-zoo-slider {
    width: 902px;
  }

  .pets-in-zoo {
    max-width: 308px;
  }

  .choose-your-favorite-button {
    margin-top: 23px;
    margin-left: 16px;
  }

  .pets-in-zoo-range {
    margin-left: 6px;
  }

  .pay-and-feed .simple-text {
    display: none;
  }

  .pay-and-feed .section-header {
    padding-top: 50px;
    margin-bottom: -18px;
  }

  .pay-and-feed .pay-and-feed-button {
    margin-top: -19px;
    padding-bottom: 50px;
  }

  .feedback1 {
    display: block;
  }

  .feedback2 {
    display: none;
  }

  .feedback-slider-wrapper {
    margin-top: 35px;
  }

  .person-name {
    font-size: 16px;
    margin: 51px auto 18px;
  }

  .testimonials-range {
    margin-top: -8px;
  }

  .pay-and-feed-button {
    margin-top: 19px;
    padding-bottom: 50px;
  }

  .map .section-header {
    padding-top: 50px;
    margin-bottom: -54px;
  }

  .map {
    min-height: 400px;
    position: static;
    z-index: -10;
  }

  /* .map-area {
  z-index: -5;
} */

  .map-image {
    width: 100%;
    height: 390px;
    position: relative;
    z-index: 0;
  }

  .map .wrapper-medium {
    max-width: 300px;
  }

  .watch-online-button-wrapper {
    margin-top: -98px;
    padding-bottom: 59px;
  }

  .animal-pin {
    transform: scale(0.5);
    z-index: 1;
  }

  .eagle-pin {
    top: 24%;
    left: 3%;
  }

  .alligator-pin {
    top: 27%;
    left: 12.5%;
  }

  .gorilla-pin {
    left: 39.1%;
    top: 34%;
    z-index: 0;
  }

  .popup {
    max-width: 450px;
}

  .gorilla-photo {
    z-index: 1;
  }

  .gorilla-popup {
    left: -197px;
  }

  .panda-pin {
    top: 25%;
    left: 66%;
    z-index: 0;
  }

  .animal-description {
    pointer-events: none;
    z-index: 5;
    max-width: 285px;
  }

  .popup {
    height: 11.3rem !important;
    padding: 1.6rem 1.5rem 0;
  }

  .popup .simple-text {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 0.5rem;
  }

  .popup .description-title {
    font-weight: 900;
    font-size: 1.7rem;
  }

  .animal-photo {
    transform: scale(1.3);
  }

  .popup {
    align-items: start;
    border-radius: 20px;
  }

  .eagle-popup {
    top: -26px;
    left: 7px;
  }

  .alligator-popup {
    top: -70px;
    left: -50px;
  }

  .gorilla-popup {
    left: -214px;
    top: -100px;
  }


  .map .wrapper-medium {
    z-index: 0;
    position: relative;
}

.map-image {
  z-index: -1;
}

  .panda-popup {
    top: -35px;
    left: -373px;
  }

  .footer-wrapper {
    margin: 0 auto;
    padding: 0.1rem 0.67rem;
  }

  .footer-menu-wrapper {
    margin-top: 55px;
  }

  .footer-logo {
    margin-bottom: 7px;
  }

  .footer-menu li {
    margin-top: 6px;
  }

  .contact-us {
    margin-top: -40px;
  }

  fieldset {
    width: 91%;
    margin-left: -2px;
  }

  .contact-us-checkbox {
    margin-top: 15px;
    margin-left: -6px;
  }

  .contact-us-send {
    width: 103%;
  }

  .contact-inf {
    margin-top: 31px;
  }

  .footer-button.mobile {
    display: block;
    margin: 30px 10px 78px 5px;
  }

  .footer-button .volunteers-button {
    left: 11px;
}

  .footer-button .watch-online-button {
    width: 254px;
}



  /* .how-it-works-slider-item1 {
    background: url(../assets/images/deer-full.jpg);
    background-size: 437px 325px;
    width: 100%;
    height: 324px;
    border-radius: 5px;
    margin-bottom: 28px;
  } */
}
