body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto", "Verdana", sans-serif;
  --nav-text: black;
  --light: rgba(189, 189, 189, 0.57);
  --gradient: linear-gradient(106.89deg, #4bd8b5 -14.32%, #49d6df 100.68%);
  --light-grey: #f2f2f2;
  --white: #fff;
  --header-color: #333333;
  --text-color: #4F4F4F;
  --light-sections-background: #fbfbfb
  --feedback-background: #FEFEFE;
  --tultip-background: #FEFEFE;
}

.dark-mode {
  --light-grey: #4F4F4F ; 
  --text-color: #fff ; 
  --header-color: #FEFEFE; 
  --light-sections-background: #333333;
  --white: #333333;
  --nav-text: white;
  --feedback-background: #3b3b3b;
  --tultip-background: #333333;
}


/* header styles */

.header {
  width: 100%;
  height: 90px;
  position: relative;
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.light-theme {
  background-color: var(--white);
}

.light-grey-theme {
  background-color: var(--light-grey);
}

.wrapper-large {
  position: relative;
  max-width: 1618px;
  margin: 0 auto;
  display: flex;
}

.wrapper-medium {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content-wrapper {
  position: relative;
  margin-top: 33px;
  width: 100%;
}

.logo svg path{
  margin-top: -3px;
  fill: var(--header-color);
}

.toggle-control {
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: rgb(169 175 181 / 75%);
}
.toggle-control input:checked ~ .control:after {
  left: 30px;
  background: #2d2b29;
}
.toggle-control .control {
  position: absolute;
  top: 0;
  right: 0;
  height: 33px;
  width: 60px;
  border-radius: 25px;
  background-color: #f2f2f2;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 22px;
  height: 22px;
  border-radius: 25px;
  background: #fbfbfb;
  box-shadow: 0px 0px 8px 0px rgb(34 60 80 / 20%);
  transition: left 0.15s ease-in;
}

.header-menu {
  width: 570px;
  margin: 0 auto;
  margin-top: -52px;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.header-menu li {
  display: inline;
  text-decoration: none;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: var(--nav-text);
}

.nav-link:hover {
  text-shadow: 0 0px var(--nav-text), 0px 0 var(--nav-text), 0px 0px var(--nav-text);
  border-bottom: var(--nav-text) solid 1px;
}

.nav-map {
  font-weight: bold;
  border-bottom: var(--nav-text) solid 1px;
  pointer-events: none;
}

/* main styles */

main {
  background-color: var(--light-grey);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
}

.choose-your-favorite {
  margin: 0 auto;
}

.choose-your-favorite h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: var(--header-color);
  padding-top: 63px;
  margin-top: 0;
  margin-bottom: 22px;
}

.simple-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  margin: auto;
}

.choose-your-favorite p {
  max-width: 790px;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  overflow: hidden;
  height: 167px;
  max-width: 1181px;
  margin: auto;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel-line {
  display: flex;
  align-items: center;
  height: 166px;
  /* overflow: hidden; */
  position: relative;
  transition: all 0.4s ease;
}

.animal {
  cursor: pointer;
}

.arrow {
  width: 19px;
  height: 30px;
  cursor: pointer;
  fill: #828282;
  transition: 0.3s;
}

.arrow:hover {
  fill: #333333;
}

.right-arrow {
  transform: rotate(180deg);
}

.animal {
  position: relative;
  height: 108px;
  width: 108px;
  border-radius: 50%;
  z-index: 5;
  transition: 0.3s;
  margin: auto 15px;
  user-select: none;
}

.panda img{
  width: 108px;
  height: 108px;
  
}

.animal::before {
  content: "";
  position: absolute;
  top: -6%;
  left: -6%;
  right: -6%;
  bottom: -6%;
  background: linear-gradient( 
96deg
, rgba(7, 238, 224, 1) 0%, rgba(223, 73, 109, 1) 92% );
  height: 112%;
  width: 112%;
  z-index: -1;
  border-radius: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.animal::after {
  content: "";
  position: absolute;
  top: -3%;
  left: -3%;
  right: -3%;
  bottom: -3%;
  background-color:  var(--light-grey);
  height: 106%;
  width: 106%;
  z-index: -1;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.animal:hover:before {
  visibility: visible;
  opacity: 1;
}

.animal:hover:after {
  visibility: visible;
  opacity: 1;
}

.animal:hover {
  transform: scale(1.2);
}

.active {
  transform: scale(1.2);
}

.active.animal::before {
  visibility: visible;
  opacity: 1;
}

.active.animal::after {
  visibility: visible;
  opacity: 1;
}

/* .panda {
  transform: scale(1.3);
} */

/* .panda::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -6px;
  background: linear-gradient( 
96deg
, rgba(7, 238, 224, 1) 0%, rgba(223, 73, 109, 1) 92% );
  height: 112%;
  width: 112%;
  z-index: -1;
  border-radius: 100%;
  opacity: 1;
  transition: 0.5s;
}

.panda::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -3px;
  background-color: var(--light-grey);
  height: 106%;
  width: 106%;
  z-index: -1;
  border-radius: 50%;
  opacity: 1;
  transition: 0.3s;
} */

/* styles for range */

.rangecontainer {
  width: 100%;
  text-align: center;
}

.watch-your-favorite-range {
  position: absolute;
  bottom: 76px;
  left: -93px;
}

.range {
  -webkit-appearance: none;
  width: 245px;
  height: 5px;
  background: rgba(189, 189, 189, 0.57);
  outline: none;
  opacity: 0.9;
  transition: 0.3s;
}

.range:hover {
  opacity: 1;
  background: rgba(119, 116, 116, 0.57);
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 10px;
  background: var(--header-color);
  cursor: pointer;
}

.rangecontainer p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin: auto;
  color: var(--header-color);
  text-align: center;
  user-select: none;
}

.total-number {
  font-size: 14px;
  line-height: 16px;
  color: #bdbdbd;
}

.carousel-range {
  margin-left: -17px;
  margin-top: 56px;
}

/* map styles */

.map {
  margin-top: 77px;
}

.map-area {
  width: 100%;
  position: relative;
}

.map-image {
  width: 100%;
  height: auto;
}

.pin {
  position: relative;
  width: 67px;
  height: 97px;
  background: url(../../assets/images/mark.svg) no-repeat;
  z-index: 1;
  overflow: hidden;
}

.pin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/red-pin.svg) no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
}
.pin:hover::before {
  opacity: 1;
}

.active-pin .pin::before {
  opacity: 1;
}

.animal-pin {
  width: 67px;
  height: 0px;
  cursor: pointer;
  position: absolute;
}

.eagle-pin {
  top: 82px;
  left: 122px;
}

.animal-pin:hover .pin::before {
  opacity: 1;
}

.eagle-pin:hover .eagle-popup {
  opacity: 1;
  z-index: 1;
  width: 436px;
  height: 149px;
}

.eagle-photo {
  background: url(../../assets/images/eagle.png) 94px 266px;
  background-size: contain;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  position: relative;
  top: -86px;
  left: 12px;
  z-index: 5;
}

.alligator-pin {
  top: 107px;
  left: 246px;
}

.alligator-pin:hover .alligator-popup {
  opacity: 1;
  z-index: 1;
  width: 436px;
  height: 149px;
}

.alligator-photo {
  background: url(../../assets/images/crocodile.png) 125px 294px;
  background-size: 42px;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  position: relative;
  top: -86px;
  left: 12px;
  z-index: 5;
}

.gorilla-pin {
  top: 192px;
  left: 572px;
}

.gorilla-pin:hover .gorilla-popup {
  opacity: 1;
  z-index: 1;
  width: 436px;
  height: 149px;
}

.gorilla-photo {
  background: url(../../assets/images/gorilla.png) 127px 299px;
  background-size: 42px;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  position: relative;
  top: -86px;
  left: 12px;
  z-index: 5;
}

.panda-pin {
  top: 90px;
  left: 891px;
}

.panda-pin:hover .panda-popup {
  opacity: 1;
  z-index: 6;
  width: 436px;
  height: 149px;
}

.panda-photo {
  background: url(../../assets/images/panda.png) 105px 251px;
  background-size: 35px;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  position: relative;
  top: -86px;
  left: 12px;
  z-index: 5;
}

.watch-online-button-wrapper {
  text-align: center;
  margin-top: 42px;
  padding-bottom: 100px;
}

.animal-photo {
  height: 65px;
  width: 65px;
}

.animal-description {
  max-width: 280px;
}

.eagle-prof {
  background: url(../online-zoo/assets/images/eagle-round.png);
}

.alligator-prof {
  background: url(../online-zoo/assets/images/crocodile.png) 231px;
  background-size: 57px;
  border-radius: 50%;
}

.gorilla-prof {
  background: url(../online-zoo/assets/images/gorilla.png) 231px;
  background-size: 57px;
  border-radius: 50%;
}

.panda-prof {
  background: url(../online-zoo/assets/images/panda.png) 231px;
  background-size: 57px;
  border-radius: 50%;
}

.animal-description p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #333333;
  margin-top: 0;
}

.watch-online-button {
  position: relative;
  width: 245px;
  height: 55px;
  background-image: linear-gradient(
    106.89deg,
    #4bd8b5 -14.32%,
    #49d6df 100.68%
  );
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  z-index: 1; /* matters! */
  overflow: hidden;
}

.watch-online-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eaaaf3, #55a4b1);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}

.watch-online-button:hover::before {
  opacity: 1;
}

.watch-online-button span {
  position: absolute;
  top: 19px;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: super;
  margin-left: 6px;
}

.watch-online-button-img {
  position: absolute;
  top: 12px;
  left: 41px;
  margin-left: -2px;
}

/* styles for footer */

footer {
  background-color: #333333;
  height: 750px;
}

footer .wrapper-large {
  display: block;
}

.footer-logo {
  max-width: 680px;
}

.footer-menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: right;
  margin-top: 100px;
}

.footer-menu {
  width: 562px;
}

.footer-menu ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 0;
}

.footer-menu li {
  list-style: none;
}

.footer-menu a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fefefe;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-heading {
  width: 100%;
  height: 200px;
}

.footer-button .watch-online-button {
  width: 275px;
}

.footer-button .volunteers-button {
  left: 22px;
  font-weight: 500;
  font-size: 18px;
}

.contact-us {
  width: 823px;
  margin-top: -7px;
}

.contact-us h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #fefefe;
  margin-bottom: 10px;
}

.name,
.email {
  width: 380px;
  border: none;
  outline: none;
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #e0e0e0;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 20px;
  padding-bottom: 9px;
}

fieldset {
  width: 356px;
  border-radius: 3px;
  margin-top: 22px;
}

legend {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #bdbdbd;
  margin-left: -7px;
  padding-left: 3px;
  padding-right: 4px;
}

textarea {
  height: 84px;
  width: 352px;
  border: none;
  background: none;
  outline: none;
  color: white;
  resize: none;
}

#checkbox {
  visibility: hidden;
}

.contact-us-checkbox {
  margin-top: 20px;
}

.contact-us-checkbox label {
  position: relative;
  padding-left: 8px;
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #bdbdbd;
  line-height: 17px;
}

.contact-us-checkbox label:before,
.contact-us-checkbox label:after {
  content: "";
  position: absolute;
}

.contact-us-checkbox label:before {
  width: 13px;
  height: 13px;
  border: 1px solid #555;
  top: 0;
  left: -14px;
}

.contact-us-checkbox label:after {
  width: 0px;
  height: 0px;
  transition: width 0.2s;
  top: 2px;
  left: -11px;
  transform: rotate(-45deg);
}

input:checked + label:after {
  border: 1px solid #fefefe;
  border-width: 0 0 2px 2px;
  height: 5px;
  width: 7px;
}

.contact-us-send {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 374px;
}

button[type="submit"] {
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
  cursor: pointer;
  outline: none;
}

.submit-arrow {
  background: url(../../assets/images/submit-arrow.svg) no-repeat;
  height: 10px;
  width: 50px;
  cursor: pointer;
  margin-left: 22px;
}

.footer-info {
  display: flex;
}

.contact-inf {
  color: #fefefe;
  font-family: "Roboto", sans-serif;
}

.online-centre {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 37px;
}

address {
  font-style: normal;
}

address a {
  text-decoration: none;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
}

.address div {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 26px;
}

.icon {
  fill: #fefefe;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  display: block;
  transition: 0.3s;
}

.icon:hover {
  fill: #4bd8b5;
}

.social-networks-footer .icon {
  display: inline;
  margin-right: 11px;
  margin-top: -6px;
}

.footer-button.mobile {
  display: none;
}

.copyright {
  border-top: 0.5px solid #fefefe;
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-top: 53px;
}

.copyright p {
  margin-top: 30px;
  margin-bottom: -26px;
}

@media all and (max-width: 1300px) {

  .header-content-wrapper {
    margin-top: 31px;
}

.carousel {
  max-width: 780px;
}

  /* .elephant,
  .lion,
  .zebra {
    display: none;
  } */

  /* .carousel {
    max-width: 794px;
    margin-top: -16px;
} */

.left-arrow {
  margin-right: 13px;
}

.animal {
  margin-right: 18px;
  margin-left: 18px;
}

/* .panda {
  transform: scale(1.3);
  margin-left: -15px;
} */

.animal-pin {
  transform: scale(0.9);
}

.gorilla-pin {
  top: 26%;
  left: 46%;
}

.carousel-range {
  margin-left: 0px;
  margin-top: 0px;
}


.map .wrapper-medium {
  max-width: 807px;
}

.map {
  margin-top: 23px;
}

.map-image {
  width: 100%;
  height: auto;
  transform: scaleY(1.15);
}

.watch-online-button-wrapper {
  margin-top: 8px;
}

}

@media all and (max-width: 740px) {

  .header {
    height: 93px;
}

.left-arrow {
  margin-right: 0px;
}

.panda {
  margin-left: 10px;
  margin-right: 13px;
}

/* .animal {
  margin-right: auto;
  margin-left: auto;
} */


  .main-wrapper {
      padding: 0.1rem 1rem 3rem;
  }

  .rangecontainer p {
    margin-left: 5px;
}

  .map {
    margin-top: 41px;
}

.watch-online-button-wrapper {
  margin-top: -41px;
}

.animal-pin {
  transform: scale(0.96);
}

.eagle-pin {
  top: 9%;
  left: 9%;
}
}

@media all and (max-width: 640px) {
.choose-your-favorite {
  margin-top: 88px;
}
}

@media all and (max-width: 600px) {

  .carousel {
    max-width: 475px;
}

.carousel-wrapper {
  max-width: 437px;
}

.left-arrow {
  margin-right: 0px;
}

.right-arrow {
  margin-left: -20px;
}


}

@media all and (max-width: 550px) {

  .carousel {
    max-width: 390px;
}

.right-arrow {
  margin-left: 0px;
}

  .animal {
    transform: scale(0.8);
}

.animal:hover {
  transform: scale(1);
}

.animal {
  margin-right: 3px;
  margin-left: 3px;
}

/* .panda {
  transform: scale(1);
} */

.animal-pin {
  transform: scale(0.6);
}

}

@media all and (max-width: 430px) {

  .choose-your-favorite h2 {
    font-size: 24px;
    padding-top: 18px;
}

.animal {
  transform: scale(0.6);
}

.animal:hover {
transform: scale(0.7);
}

/* .panda {
transform: scale(0.7);
} */

.carousel-wrapper {
  justify-content: center;
  max-width: 275px;
  /* margin-top: 31px; */
}

.panda {
  margin-left: -30px;
  margin-right: -30px;
}

.animal {
  margin-right: -8px;
  margin-left: -8px;
}

.left-arrow {
  margin-right: -15px;
}

.right-arrow {
  margin-left: -15px;
}

.carousel-range {
  margin-left: 1px;
  margin-top: -3px;
}

.map {
  min-height: 420px;
}

.map-image {
  height: 314px;
}

}

@media all and (max-width: 320px) {

  .choose-your-favorite {
    margin-top: 92px;
}

.choose-your-favorite h2 {
  margin-bottom: -3px;
}

.simple-text {
  font-size: 12px;
  line-height: 14px;
}

.wrapper-medium {
  max-width: 280px;
}

.carousel-wrapper {
  /* margin-top: 46px; */
  width: 221px;
}

.animal {
  margin-right: -17px;
  margin-left: -17px;
}

.carousel-range {
  margin-left: 12px;
}

}