body {
  margin: 0 auto;
}

/* header styles */

.header {
  width: 100%;
  height: 90px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}

.light-theme {
  background-color: white;
}

.light-grey-theme {
  background-color: var(--light-grey);
}

.wrapper-large {
  position: relative;
  max-width: 1618px;
  margin: 0 auto;
  display: flex;
}

.wrapper-medium {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.header-content-wrapper {
  position: relative;
  margin-top: 33px;
  width: 100%;
}

.logo img {
  margin-top: -3px;
}

.toggle-control {
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: rgb(169 175 181 / 75%);
}
.toggle-control input:checked ~ .control:after {
  left: 30px;
  background: #2d2b29;
}
.toggle-control .control {
  position: absolute;
  top: 0;
  right: 0;
  height: 33px;
  width: 60px;
  border-radius: 25px;
  background-color: #f2f2f2;
  transition: background-color 0.15s ease-in;
}

.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 9px;
  top: 5px;
  width: 22px;
  height: 22px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 0px 8px 0px rgb(34 60 80 / 20%);
  transition: left 0.15s ease-in;
}

.header-menu {
  width: 570px;
  margin: 0 auto;
  margin-top: -52px;
}

.header-menu ul {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.header-menu li {
  display: inline;
  text-decoration: none;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  text-shadow: 0 0px black, 0px 0 black, 0px 0px black;
  border-bottom: black solid 1px;
}

.nav-zoos {
  font-weight: bold;
  border-bottom: black solid 1px;
  pointer-events: none;
}

/* sidebar styles */

.main {
  position: relative;
  height: 915px;
  display: flex;
  background-color: #fbfbfb;
}

.sidebar {
  width: 210px;
  height: 640px;
  position: sticky;
  top: 40px;
  margin: 63px 40px 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  width: 19px;
  height: 30px;
  cursor: pointer;
  fill: #828282;
  transition: 0.3s;
}

.arrow:hover {
  fill: #333333;
}

.up-arrow {
  transform: rotate(90deg);
  margin-bottom: 8px;
}

.down-arrow {
  transform: rotate(270deg);
  margin-top: 5px;
}

.sidebar-item {
  position: relative;
  transition: 0.3s;
  transition-property: transform;
}

.sidebar-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.animal {
  border-radius: 50%;
  border: 7px solid #fbfbfb;
  width: 108px;
  height: 108px;
  transition: 0.3s;
}

.animal::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50%;
  padding: 3px;
  background-image: linear-gradient(106.89deg, #07eee0 0%, #df496d 100%);
  opacity: 0;
  transition: 0.2s;
}

.animal:hover::before {
  opacity: 1;
}

.panda {
  background: url(../../../assets/images/panda-big.jpg) right;
  background-size: cover;
  width: 140px;
  height: 140px;
}

.eagle {
  background: url(../../../assets/images/eagle-big.jpg) right;
  background-size: cover;
}

.alligator {
  background: url(../../../assets/images/alligator-big.jpg) right top;
  background-size: cover;
  /* margin-top: -9px; */
}

.gorilla {
  background: url(../../../assets/images/gorilla-big.jpg);
  background-size: cover;
  /* margin-top: -8px; */
}

.animal:hover {
  height: 140px;
  width: 140px;
}

.panda::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(1);
  border-radius: 50%;
  padding: 3px;
  background-image: linear-gradient(106.89deg, #07eee0 0%, #df496d 100%);
  opacity: 1;
  transition: 0.2s;
}

/* the-zoo styles */


/* footer styles */

footer {
  background-color: #333333;
  height: 750px;
}

footer .wrapper-large {
  display: block;
}

.footer-logo {
  width: 680px;
}

.footer-menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  float: right;
  margin-top: 100px;
}

.footer-menu {
  width: 380px;
}

.footer-menu ul {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 0;
}

.footer-menu li {
  list-style: none;
}

.footer-menu a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fefefe;
}

.footer-menu a:hover {
  text-decoration: underline;
}

.footer-heading {
  width: 100%;
  height: 200px;
}

.watch-online-button {
  position: relative;
  width: 245px;
  height: 55px;
  background-image: linear-gradient(
    106.89deg,
    #4bd8b5 -14.32%,
    #49d6df 100.68%
  );
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: none;
  z-index: 1; /* matters! */
  overflow: hidden;
}

.footer-button {
  margin-top: -3px;
}

.watch-online-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eaaaf3, #55a4b1);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
}

.watch-online-button:hover::before {
  opacity: 1;
}

.watch-online-button span {
  position: absolute;
  top: 19px;
  left: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: super;
  margin-left: 6px;
}

.footer-button .watch-online-button {
  width: 275px;
}

.footer-button .volunteers-button {
  left: 22px;
  font-weight: 500;
  font-size: 18px;
}

.contact-us {
  width: 823px;
  margin-top: -7px;
}

.contact-us h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #fefefe;
  margin-bottom: 10px;
}

.name,
.email {
  width: 380px;
  border: none;
  outline: none;
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #e0e0e0;
  border-bottom: 1px solid #bdbdbd;
  margin-top: 20px;
  padding-bottom: 9px;
}

fieldset {
  width: 356px;
  border-radius: 3px;
  margin-top: 22px;
}

legend {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #bdbdbd;
  margin-left: -7px;
  padding-left: 3px;
  padding-right: 4px;
}

textarea {
  height: 84px;
  width: 352px;
  border: none;
  background: none;
  outline: none;
  color: white;
  resize: none;
}

#checkbox {
  visibility: hidden;
}

.contact-us-checkbox {
  margin-top: 20px;
}

.contact-us-checkbox label {
  position: relative;
  padding-left: 8px;
  margin-bottom: 20px;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #bdbdbd;
  line-height: 17px;
}

.contact-us-checkbox label:before,
.contact-us-checkbox label:after {
  content: "";
  position: absolute;
}

.contact-us-checkbox label:before {
  width: 13px;
  height: 13px;
  border: 1px solid #555;
  top: 0;
  left: -14px;
}

.contact-us-checkbox label:after {
  width: 0px;
  height: 0px;
  transition: width 0.2s;
  top: 2px;
  left: -11px;
  transform: rotate(-45deg);
}

input:checked + label:after {
  border: 1px solid #fefefe;
  border-width: 0 0 2px 2px;
  height: 5px;
  width: 7px;
}

.contact-us-send {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 374px;
}

button[type="submit"] {
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fefefe;
  cursor: pointer;
  outline: none;
}

.submit-arrow {
  background: url(../../../assets/images/submit-arrow.svg) no-repeat;
  height: 10px;
  width: 50px;
  cursor: pointer;
  margin-left: 22px;
}

.footer-info {
  display: flex;
}

.contact-inf {
  color: #fefefe;
  font-family: "Roboto", sans-serif;
}

.online-centre {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 37px;
  margin-top: 11px;
}

address {
  font-style: normal;
  margin-top: -4px;
}

address a {
  text-decoration: none;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
}

.address div {
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 22px;
}

.icon {
  fill: #fefefe;
  width: 20px;
  height: 20px;
  margin-top: 9px;
  display: block;
  transition: 0.3s;
}

.icon:hover {
  fill: #4bd8b5;
}

.social-networks-footer .icon {
  display: inline;
  margin-right: 11px;
  margin-top: -6px;
}

.copyright {
  border-top: 0.5px solid #fefefe;
  opacity: 0.6;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
  margin-top: 53px;
}

.copyright p {
  margin-top: 30px;
  margin-bottom: -26px;
}
